/* Write your CSS code here */
.currency-logo {
  height: 50px;
  width: 50px;
}

.currency-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  margin-left: 10px;
}

.coin-type-container {
  display: flex;
  align-items: center;
}

.values-container {
  display: flex;
  align-items: center;
}

.cypto-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
